$green: #6DDEA0;

*{
  margin:0;
  padding:0;
  
}

img{
  border-style: none;
}

button{
  border-radius: 20px;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
  border-style: none;
}

.alternative-grid{
  display: grid;
  grid-template-columns: 100px repeat(10,1fr) 100px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,200px) ;
  grid-gap: 1em;
  padding-top: 30px;
}

.header{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color:white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cell{
  grid-column: span 1;
  background-color: aliceblue;
  width: 200px;
  opacity: 0%;
  transition: all 1s;
  height: 300px;
  overflow: hidden;
  
  
}
.cell > *{
  padding:10px;
  line-height: 20px;
  padding-left: 18px;
  padding-right: 13px;
  text-overflow: ellipsis;
}

.cell > p{
  text-overflow: ellipsis;
  overflow: hidden;
  height: 194px;
}

.cell:hover{
  opacity: 100%;
}

.comments{
  background-color: #FCFCFC;
  border: none;
}

.comments > *{
  padding: 10px;
  padding-left: 50px;
  padding-bottom: 0;
}

.movie{
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 3;
  justify-content: center;
  font-weight: 500;
  padding-top: 35px;
  font-size: larger;
}
.spacing{
  padding-top: 1vw;
  padding-bottom: 1vw;
  grid-column-start: 2;
  grid-column-end: 12;
}
.profile{
  width:20%;
}
.nav-bar{
  grid-column-start: 8;
  grid-column-end: 12;
  display: flex;
  flex-direction: row-reverse;
  font-size: smaller;
  margin-top: 20px;
  border-style: none;
  grid-row-start: 2;
  position: fixed;
  background-color: white;
  width: 100%;
}
.nav-bar > a{
  padding-left: 10px;
}
.space{
  width: 100px;
  height: 5px;
  background-color: blue($color: #000000);
}
a {
  text-decoration: none;
  color:#2F4F4F;
}
a:hover {
  text-decoration: none;
}
.multiples{
  display: flex;
  flex-direction: row;
}
*>li{
  list-style: none;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poster{
  grid-area: poster;
  
}
#post{
  width:80%;
  padding:50px;
}
.info{
  grid-area: info;
  padding-top: 44px;
  grid-row: span 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "description description description"
    "title title title"
    "buy buy post"
    "genre production countries";

}
.title{
  grid-area: title;
  font-size: medium;
}

.description{
  grid-area: description;
  font-size: large;
  font-weight: normal;
}
.column-head{
  font-weight: bold;
}
.buy{
  grid-area: buy;
}

.post{
  grid-area: post;
}

.genre{
  grid-area: genre;
  font-size: medium;
}

.production{
  grid-area: production;
  font-size: medium;
}

.countries{
  grid-area: countries;
  font-size: medium;
}

.info > div > button{
  font-size: large;
  width: 90%;
}
.info > div > div > button{
  font-size: large;
  width: 100%;
}
.main{
  grid-column-start: 6;
  grid-column-end: 8;
  padding-top: 10vw;
}
label{
  padding-left: 10px;
  padding-right: 10px;
}
.main > form{
  padding-top: 20px;
  padding-bottom: 20px;
}

.general{
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 3;
  padding-top: 2vw;
}

.container{
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto;
  grid-template-areas: 
    "fade fade"
    "poster info"
    "poster info"
    "poster info"
    "poster info"
    "poster info"
    "review review";
}
.review{
  grid-area: review;
  padding-left: 50px;;
}
.status{
  grid-column-start: 10;
  grid-column-end: 12;
  font-size: small;
  text-align: right;
  color:#2F4F4F;
}

.footer{
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 4;
}
input{
  border-style: none;
  background-color:white;
}