$green: #6DDEA0;

*{
  margin:0;
  padding:0;
  
}

img{
  border-style: solid;
}

button{
  border-radius: 20px;
  padding:10px;
  margin:10px;
  border-style: solid;
}

.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  grid-gap: 1em;
  padding-top: 30px;
  background-color: $green;
  font-family: 'Corben';
}

.header{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Corben';
  background-color: rgba(0, 0, 0, 0.3);
  color:white;
}

.cell{
  grid-column: span 1;
  background-color: aliceblue;
  width: 200px;
  opacity: 0%;
  transition: all 1s;
  height:300px;
  overflow: hidden;
  font-family: 'Corben';
}

.cell:hover{
  opacity: 100%;
}

.comments{
  background-color: aliceblue;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border: thick 2px solid;
  border-radius: 20px;
}

.comments > *{
  padding: 10px;
}

.movie{
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $green;
  font-family:'Nobile';
  font-weight: 500;
}
.spacing{
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  font-size: larger;
  font-weight: bolder;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 30px;
  border-style: none none solid none;
  font-family: 'Corben';
  background-color: #20B2AA;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.multiples{
  display: flex;
  flex-direction: row;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row >div{
  padding: 50px;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vw;
  font-family: 'Corben';
}

.main > form{
  padding-top: 20px;
  padding-bottom: 20px;
}

.general{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $green;
  font-family:'Nobile';
  padding-top: 2vw;
}

.container{
  width: "100%";
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family:'Nobile';
}